<!DOCTYPE html>
<html>
<head>
  <title>AniTogether</title>
  <meta charset="utf-8">

  <!-- Vue.js; development version (includes helpful console warnings) -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- UI framework -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <!-- Custom -->
  <script src="./query.js"></script>
  <style type="text/css">
    #app {
      margin: 2em;
    }

    #container {
      max-width: 800px;
      margin: auto;
    }

    th.title.positive {
      color: hsl(93, 72%, 25%);
    }

    th .avatar {
      width: 32px;
      height: 32px;
    }

    /* Must be on th because of chrome (and edge) bug
     * https://caniuse.com/#feat=css-sticky
     */
    #table thead th {
      position: sticky;
      top: 0;
    }
    #table thead th:first-child {
      /* Otherwise background is transparent */
      background: white;
    }
  </style>
  <!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
</head>

<body onhashchange="app.fetchLists()">
  <div id="app" class="center aligned">
  <div id="container" class="center aligned">
    <div id="input-container">
      <div class="ui sub header">Users</div>
      <div id="user-dropdown" class="ui fluid multiple search selection dropdown action">
        <input name="users" type="hidden"
            v-model.lazy="usersInput"
            @change="fetchLists">
        <i class="dropdown icon"></i>
        <div class="default text">Search users…</div>
        <div class="menu">
          <div v-for="name of userHistory"
              class="item"
              v-bind:data-value="name">
            {{ name }}
            <!-- TODO allow removing entries -->
          </div>
          <!-- TODO search results from anilist? -->
        </div>
      </div>
    </div>

    <table id="table" class="ui table celled definition compact unstackable selectable">
      <thead>
        <tr>
          <th>Anime</th>
          <th v-for="user of orderedUsers"
              class="right aligned collapsing">
            <a v-bind:href="`https://anilist.co/user/${user.name}`">
              <img class="avatar"
                  v-bind:src="user.avatar.medium"
                  v-bind:title="user.name">
            </a>
          </th>
          <th class="right aligned collapsing">Latest</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry of entries"
            v-if="entry.users.size > 1">
          <th class="title"
              v-bind:class="{positive: entry.media.status === 'RELEASING',
                             finished: entry.media.status === 'FINISHED'}">
            {{ entry.media.title.userPreferred }}
          </th>
          <td v-for="user of orderedUsers"
              v-if="entry.users.has(user.name)"
              class="episode progress right aligned collapsing"
              v-bind:class="{paused: entry.users.get(user.name).status === 'PAUSED',
                             negative: entry.users.get(user.name).progress !== entry.maxEpisode }"
              v-bind:title="entry.users.get(user.name).score + ' / 10'">
            {{ entry.users.get(user.name).progress || "" }}
          </td>
          <td v-else></td>
          <td class="episode latest right aligned collapsing"
              v-bind:class="{ positive: entry.maxEpisode !== entry.media.latestEpisode }">
            {{ entry.media.latestEpisode }}
          </td>
        </tr>
      </tbody>
      <!-- TODO footer with buttons to show/hide selected shows -->
    </table>
  </div>
  </div>

  <script src="./app.js"></script>
</body>
</html>
